.product-item{
    display: flex !important;
    justify-content: space-between;
    padding: 10px 20px;
}
.product-item .product-name{
    width: 80%;
    text-align: left;
    color: blue;
    margin: 0 20px;
}

.product-item .product-name.active{
    text-decoration: line-through;
}